body{
    background-color:lavender;  /* #00F EL AZUL QUE PIDE*/
    font-weight: bold;
    color:cornflowerblue;       /* #F00 EL ROJO QUE PIDE */
}
p
{
    color: rgb(75,0,255);
    font-style: italic;
    font-size:20px;
    
}
